@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../_fonts.scss/raleway/raleway-v17-latin-700.woff2") format("woff2"),
    url("../_fonts.scss/raleway/raleway-v17-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../_fonts.scss/roboto/roboto-v20-latin-regular.woff2")
      format("woff2"),
    url("../_fonts.scss/roboto/roboto-v20-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../_fonts.scss/roboto/roboto-v20-latin-500.woff2") format("woff2"),
    url("../_fonts.scss/roboto/roboto-v20-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../_fonts.scss/roboto/roboto-v20-latin-700.woff2") format("woff2"),
    url("../_fonts.scss/roboto/roboto-v20-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../_fonts.scss/roboto/roboto-v20-latin-900.woff2") format("woff2"),
    url("../_fonts.scss/roboto/roboto-v20-latin-900.woff") format("woff");
}
